link(rel='stylesheet', href='public/stylesheets/mainStyle.css')
link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css')
script(src='Public/charts/amcharts/amcharts.js' type='text/javascript')
script(src='Public/charts/amcharts/serial.js' type='text/javascript')
script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
script(type='text/javascript' src='public/js/updateStats.js')
script(type='text/javascript' src='public/js/jayQuery.js')
script(type='text/javascript' src='public/js/flipCard.js')
script(type='text/javascript' src='public/js/buildCharts.js')